// Default Theme Color Palette

// Red
$red-light: #da1e28; 
$red-dark: #a51a20;

// Pink
$pink-light: #ff7eb6; 
$pink-dark: #ee5396;

// Purple
$purple-light: #be95ff; 
$purple-dark: #673AB7;

// Blue
$blue-light: #5b9bf8;
$blue-dark: #3c84f7;

// Teal
$teal-light: #78a9ff; 
$teal-dark: #33b1ff;

// Green
$green-light: #42be65; 
$green-dark: #359851;

// Yellow
$yellow-light: #ffe97b; 
$yellow-dark: #ffdf41;

// Orange
$orange-light: #ff892e; 
$orange-dark: #FF6F00;

// Grey
$grey-050: #f9fafb;
$grey-100: #f2f4f8; /* Matches base05 */
$grey-150: #e9ecf1;
$grey-200: #e0e3e8;
$grey-250: #d5d9df;
$grey-300: #dde1e6; /* Matches base04 */
$grey-350: #c6cacf;
$grey-400: #b0b5bb;
$grey-450: #9a9fa6;
$grey-500: #8b9199;
$grey-550: #787e86;
$grey-600: #666d75;
$grey-650: #5b6168;
$grey-700: #525252; /* Matches base03 */
$grey-750: #474c52;
$grey-800: #393939; /* Matches base02 */
$grey-850: #2d3034;
$grey-900: #262626; /* Matches base01 */
$grey-950: #161616; /* Matches base00 */


$grey-050: #f9fafb;
$grey-100: #f2f4f8; /* Matches base05 */
$grey-150: #e9ecf1;
$grey-200: #e0e3e8;
$grey-250: #d5d9df;
$grey-300: #dde1e6; /* Matches base04 */
$grey-350: #c1c6cc;
$grey-400: #a8adb4;
$grey-450: #8c9297;
$grey-500: #525252; /* Matches base03 */
$grey-550: #3b3b3b;
$grey-600: #393939; /* Matches base02 */
$grey-650: #262626; /* Matches base01 */
$grey-700: #161616; /* Matches base00 */
$grey-750: #0c0c0c;
$grey-800: #121212;
$grey-850: #0a0a0a;
$grey-900: #0F0F0F;
$grey-950: #030303;



// White
$white: #FFFFFF;

// Black
$black: #000000;

// Button
$button-close: #fd5f51;
$button-max: #38c76a;
$button-min: #fdbe04;

// Link
$links: $purple-dark;

// Theme
$default-light: $pink-light;
$default-dark: $pink-dark;
